<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <title>정글에서 나침반 빌리기</title>
</head>
<body class="mt-20">
    <div class= "flex justify-center items-center">
        <div class="flex flex-col">
            <div class ="flex justify-center items-center">
                <h1 class = "text-5xl font-bold">회원가입</h1>
            </div>
            <form>
                <div class = "bg-gray-200 rounded-lg p-5 mt-10">
                    
                    <input class="border-2  w-96 h-12 p-5 m-10 block outline-none rounded-lg" type ="id"placeholder="아이디">
                    <input class="border-2  w-96 h-12 p-5 m-10 mt-0 block outline-none rounded-lg" type ="password"placeholder="비밀번호">
                    <input class="border-2  w-96 h-12 p-5 m-10 mt-0 block outline-none rounded-lg" type ="password"placeholder="비밀번호 확인">
                    <input class="border-2  w-96 h-12 p-5 m-10 mt-0 block outline-none rounded-lg" type ="name"placeholder="이름">
                    
                    <button class="w-96 h-12 bg-green-400 text-white m-10 mt-0 text-lg rounded-lg focus:outline-none hover:opacity-80">회원가입
                    </button>
                </div>
            </form>


        </div>
    </div>
</body>
</html>