<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <title>정글에서 나침반 빌리기</title>
</head>
<body>
    <div class= "w-full flex justify-around items-center p-4 border-b-2">
        <button class="bg-green-400 text-white rounded-lg w-20 h-8 leading-8 text-center hover:opacity-80">
             MyPage
        </button>
        <div>
            <h1 class="text-5xl font-bold inline-block">
                정글에서 <span class ="text-green-400">나침반</span> 빌리기
            </h1>
        </div>
        <button class ="bg-green-400 text-white rounded-lg w-20 h-8 leading-8 text-center hover:opacity-80">
            등록
        </button>
    </div>
    <div class="flex flex-wrap justify-center items-center">
        <div class="bg-gray-200 w-[650px] mx-5 mt-5 p-3 rounded-lg">
            <div class="flex justify-start items-center p-4">
                <div class = "font-bold mx-3">대여물품:</div>
                <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">물걸레</div>
                <div class = "font-bold mx-3">이름:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">홍윤표</div>
        </div>
        <div class="flex justify-start items-center p-4">
            <div class = "font-bold mx-3">대여기간:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">2023.04.03 13:00 ~ 2023.04.03 15:00</div>
            
        </div>
        
        <div class="flex justify-start items-center p-4">
            <div class = "font-bold mx-3">사용목적:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">제가 재밌게놀면서 쓰고 싶습니다</div>
        </div>
        <button class="font-bold bg-green-400 text-white mx-auto mt-1 h-10 w-10/12 block rounded-lg">빌려주기</button>
        
    </div>
    
    <div class="bg-gray-200 w-[650px] mx-5 mt-5 p-3 rounded-lg">
        <div class="flex justify-start items-center p-4">
            <div class = "font-bold mx-3">대여물품:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">물걸레</div>
            <div class = "font-bold mx-3">이름:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">홍윤표</div>
        </div>
        <div class="flex justify-start items-center p-4">
            <div class = "font-bold mx-3">대여기간:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">2023.04.03 13:00 ~ 2023.04.03 15:00</div>
            
        </div>
        
        <div class="flex justify-start items-center p-4">
            <div class = "font-bold mx-3">사용목적:</div>
            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">제가 재밌게놀면서 쓰고 싶습니다</div>
        </div>
        <button class="font-bold bg-green-400 text-white mx-auto mt-1 h-10 w-10/12 block rounded-lg">빌려주기</button>

    </div>
</div>

    
</body>