<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/output.css" rel="stylesheet">
        <title>정글에서 나침반 빌리기</title>
      </head>
      <body>
          <div class= "w-full flex justify-around items-center p-4 border-b-2">
              <button class="bg-green-400 text-white rounded-lg w-20 h-8 leading-8 text-center hover:opacity-80">
                   MyPage
              </button>
              <div>
                  <h1 class="text-5xl font-bold inline-block">
                      정글에서 <span class ="text-green-400">나침반</span> 빌리기
                  </h1>
              </div>
              <button class ="bg-green-400 text-white rounded-lg w-20 h-8 leading-8 text-center hover:opacity-80">
                  등록
              </button>
          </div>
          <div class="flex flex-wrap justify-around items-center p-4">
            <div class="flex flex-col justify-center items-center w-[650px]">
                <div class="font-bold text-3xl mt-5">
                    빌린 나침반
                </div>
                <div class="flex flex-col justify-center items-center">
                    <div class="bg-gray-200 w-[650px] mx-5 mt-5 p-3 rounded-lg">
                        <div class="flex justify-start items-center p-4">
                            <div class = "font-bold mx-3">대여물품:</div>
                            <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">물걸레</div>
                            <div class = "font-bold mx-3">이름:</div>
                        <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">홍윤표</div>
                    </div>
                    <div class="flex justify-start items-center p-4">
                        <div class = "font-bold mx-3">대여기간:</div>
                        <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">2023.04.03 13:00 ~ 2023.04.03 15:00</div>
                        
                    </div>
                    
                    <div class="flex justify-start items-center p-4">
                        <div class = "font-bold mx-3">사용목적:</div>
                        <div class = "font-bold mx-3 px-3 py-1 bg-white rounded-lg">제가 재밌게놀면서 쓰고 싶습니다</div>
                    </div>
                    <div class="flex justify-between">
                        <div class="text-gray-500 ml-2 font-bold">예약정보</div>
                        <div class="flex justify-end">
                            <div class="text-red-500 mr-2 font-bold">
                                취소
                            </div>
                            <div class="text-green-300 mr-2 font-bold">
                                대여 중
                            </div>
                        </div>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center w-[650px]">
                <div class="font-bold text-3xl mt-5">
                    빌려준 나침반
                </div>
            </div>
          </div>
</body>
</html>