<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <title>정글에서 나침반 빌리기</title>
</head>
    <body>
        <div>
            <h1 class = "m-10 text-5xl text-center">대여 물품 등록</h1>
        </div>
        <hr style="border: solid 1px black;">
        <div class = "flex m-10 content-start flex-wrap bg-gray-200 h-40">
            <div class = "p-5">
                <input class = "border-2 w-96 h-12 p-5 block outline-none rounded-lg">
            </div>
        </div>
    </body>
</html>